---
title: ''
gitRepo: https://gitlab.com/MachHach/jp-lang
navbar:
  grammar: ''
  vocab: ''
  misc: ''
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    <title>{{ title }} - 日本語</title>
  </head>
  <body>
    <nav id="navbar" class="navbar sticky-top navbar-expand-md navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ '/' | url }}">
          日本語
        </a>
        <button type="button" class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-content"
            aria-controls="navbar-content"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar-content" class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {{ navbar.grammar }}" href="#"
                  id="navbar-dropdown-grammar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Grammar
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-grammar">
                <li><a class="dropdown-item" href="{{ '/grammar/adjectives' | url }}">Adjectives</a></li>
                <li><a class="dropdown-item" href="{{ '/grammar/kana' | url }}">Kana</a></li>
                <li><a class="dropdown-item" href="{{ '/grammar/verbs' | url }}">Verbs</a></li>
                <li><a class="dropdown-item" href="{{ '/grammar/misc' | url }}">Misc</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {{ navbar.vocab }}" href="#"
                  id="navbar-dropdown-vocab" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Vocabulary
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-vocab">
                <li><a class="dropdown-item" href="{{ '/vocab/adjectives' | url }}">Adjectives</a></li>
                <li><a class="dropdown-item" href="{{ '/vocab/adverbs' | url }}">Adverbs</a></li>
                <li><a class="dropdown-item" href="{{ '/vocab/counters' | url }}">Counters</a></li>
                <li><a class="dropdown-item" href="{{ '/vocab/datetime' | url }}">Datetime</a></li>
                <li><a class="dropdown-item" href="{{ '/vocab/demonstratives' | url }}">Demonstratives</a></li>
                <li><a class="dropdown-item" href="{{ '/vocab/kanji' | url }}">Kanji</a></li>
                <li><a class="dropdown-item" href="{{ '/vocab/nouns' | url }}">Nouns</a></li>
                <li><a class="dropdown-item" href="{{ '/vocab/numbers' | url }}">Numbers</a></li>
                <li><a class="dropdown-item" href="{{ '/vocab/pronouns' | url }}">Pronouns</a></li>
                <li><a class="dropdown-item" href="{{ '/vocab/verbs' | url }}">Verbs</a></li>
                <li><a class="dropdown-item" href="{{ '/vocab/misc' | url }}">Misc</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {{ navbar.misc }}" href="#"
                  id="navbar-dropdown-misc" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Misc
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-misc">
                <li><a class="dropdown-item" href="{{ '/misc/cheatsheet' | url }}">Cheat sheet</a></li>
                <li><a class="dropdown-item" href="{{ '/misc/jlpt' | url }}">JLPT</a></li>
              </ul>
            </li>
          </ul>
          <div class="navbar-gitlab">
            <a href="{{ gitRepo }}">
              <img src="{{ '/img/gitlab.svg' | url }}">
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div>
      {{ content }}
    </div>
    <button type="button" class="btn-scroll-top" title="Scroll to top" aria-label="Scroll to top" onclick="scrollToTop()">
      <svg viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
      <i class="bi bi-arrow-up"></i>
    </button>
    <script src="{{ '/js/main.js' | url }}"></script>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</html>
