/* scrollbar: Chrome */

body::-webkit-scrollbar, .reader-index-content::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb, .reader-index-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

/* scrollbar: Firefox */

html, .reader-index-content {
    scrollbar-width: thin;
}

/* theme */

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h2, h3, h4, h5, h6 {
    margin-top: -1em;
    padding-top: 2em;
}

a, .nav-link {
    color: #f77;
}

a:focus,
a:hover,
a:visited,
.nav-link:focus,
.nav-link:hover,
.nav-link.active {
    color: #f33;
}

#navbar {
    background-color: #fbb;
}

#navbar .navbar-brand {
    color: #fff;
}

#navbar .dropdown-menu {
    background-color: #fcc;
    border-color: rgba(0, 0, 0, 0.2);
}

#navbar .dropdown-item:focus,
#navbar .dropdown-item:hover {
    background-color: #faa;
    color: #fff;
}

#navbar .dropdown-item:active {
    background-color: #f99;
}

#navbar .navbar-gitlab {
    height: 2.5em;
    width: 2.5em;
}

/* button for scroll to top */

.btn-scroll-top {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    background-color: white;
    box-shadow: inset 0 0 0 0.1rem #f2f2f2;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 50;
    bottom: 1rem;
    right: 1rem;

    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out, color;
}

.btn-scroll-top:focus,
.btn-scroll-top:hover,
.btn-scroll-top:active {
    color: #f88;
}

.btn-scroll-top.active {
    visibility: visible;
    opacity: 1;
}

.btn-scroll-top svg {
    height: 100%;
    width: 100%;
}

.btn-scroll-top path {
    stroke: black;
    stroke-width: 0.2rem;
    fill: none;
}

.btn-scroll-top:focus path,
.btn-scroll-top:hover path,
.btn-scroll-top:active path {
    stroke: #f99;
}

.btn-scroll-top i {
    position: absolute;
    font-size: 1.5rem;
}

/* utils */

.blue {
    color: #0d6efd !important;
}

.gray {
    color: #888 !important;
}

.green {
    color: #1ea566 !important;
}

.orange {
    color: #fd7e14 !important;
}

.red {
    color: #dc3545 !important;
}

.blockquote-qna {
    border-left: 0.25em solid #eaeaea;
    color: #7f8fa4;
    padding: 0.5em 1.5em;
}

.table-ruby-1 tbody tr td:nth-child(1),
.table-ruby-2 tbody tr td:nth-child(2),
.table-ruby-3 tbody tr td:nth-child(3),
.table-ruby-4 tbody tr td:nth-child(4),
.table-ruby-5 tbody tr td:nth-child(5) {
    font-size: 1.25em;
    font-weight: 300;
}

.text-1-25 {
    font-size: 1.25em;
}

.text-1-50 {
    font-size: 1.5em;
}

/* reader grid */

.reader-nav {
    display: flex;
}

.reader-index-button {
    font-size: 1.25em;
    padding: 0 0.25rem;
}

.reader-index-button.collapsed .bi-arrows-collapse {
    display: none;
}

.reader-index-button.collapsed .bi-arrows-expand {
    display: inline-block;
}

.reader-index-button:not(.collapsed) .bi-arrows-collapse {
    display: inline-block;
}

.reader-index-button:not(.collapsed) .bi-arrows-expand {
    display: none;
}

.reader-index-content .nav-link.active {
    font-weight: 600;
}

.reader-grid-sidebar {
    grid-area: sidebar;
}

.reader-grid-main {
    grid-area: main;
}

/* home page */

.home-container {
    height: 80vh;
}

.home-container .home-title {
    color: #d75f5f;
    font-size: 3rem;
    font-weight: 300;
}

/* media queries */

/* md: Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .reader-nav {
        display: none;
    }

    .reader-index-button {
        visibility: hidden;
    }

    .reader-grid {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 3fr;
    }

    .reader-index-content {
        display: block !important;
        position: sticky;
        top: 3.5rem;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

/* lg: Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .reader-grid {
        grid-template-columns: 1fr 5fr;
    }
}
