---
layout: base.html
---

<nav class="reader-nav p-2">
  <div class="me-auto"></div>
  <button type="button" class="reader-index-button btn btn-light"
      data-bs-toggle="collapse" data-bs-target="#reader-index-content"
      aria-expanded="false" aria-controls="reader-index-content"
  >
    <i class="bi bi-arrows-collapse"></i>
    <i class="bi bi-arrows-expand"></i>
  </button>
</nav>

<div class="reader-grid">
  <div class="reader-grid-sidebar bg-light">
    <nav id="reader-index-content" class="reader-index-content nav flex-column collapse">
      {% for item in tableOfContent %}
      <a class="nav-link" href="#{{ item.id }}">{{ item.name }}</a>
      <nav class="nav flex-column">
        {% for subitem in item.children %}
        <a class="nav-link ms-3" href="#{{ subitem.id }}">{{ subitem.name }}</a>
        <nav class="nav flex-column">
          {% for subsubitem in subitem.children %}
          <a class="nav-link ms-4" href="#{{ subsubitem.id }}">{{ subsubitem.name }}</a>
          {% endfor %}
        </nav>
        {% endfor %}
      </nav>
      {% endfor %}
    </nav>
  </div>
  <div class="reader-grid-main p-3 pb-5">
    {{ content }}
  </div>
</div>
